@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Raleway:wght@100;200;300;400&display=swap');

.cursive {
  font-family: 'Baloo Chettan 2', cursive;
font-family: 'Raleway', sans-serif;
font-weight: 700;
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.home-name{
  font-size: 150px;
}